/*
@keyframes pulse_animation {
	0% { transform: scale(1,1); }
	15% { transform: scale(1.01,1); }
	20% { transform: scale(1.02,1); }
	25% { transform: scale(1.01,1); }
	30% { transform: scale(1.01,1); }
	35% { transform: scale(1.02,1); }
	40% { transform: scale(1.01,1); }
	50% { transform: scale(1,1); }
	65% { transform: scale(1.01,1); }
	60% { transform: scale(1.02,1); }
	65% { transform: scale(1.01,1); }
	70% { transform: scale(1.01,1); }
	75% { transform: scale(1.02,1); }
	80% { transform: scale(1.01,1); }
	100% { transform: scale(1,1); }
}
*/
@keyframes pulse_animation {
	0% { transform: rotate(0deg); }
	20% { transform: rotate(2deg); }
	30% { transform: rotate(4deg); }
	40% { transform: rotate(8deg); }
	50% { transform: rotate(2deg); }
	60% { transform: rotate(-2deg); }
	70% { transform: rotate(-8deg); }
	80% { transform: rotate(-2ddeg); }
	100% { transform: rotate(0deg); }
}

div.TEIContainer {
		left: 0px;
		bottom: 0px;
}
div.TEIContainer.commentary {
  display: block;
}
svg.orchestralRibbon {
  position: absolute;
  left: 640px;
  bottom: 15px;
}

div.scorepane {
		margin-top: 20px;
		position: absolute;
		display:block;
}

.wrapper img {
		visibility: visible;
		position: absolute;
		top: 300px;
		left: 0px;
		/* max-width: 560px; */
		margin: 15px;
}
.wrapper audio {
		margin: 0;
}
audio {
		left: 50%;
		position: absolute;
		top: 0;
		display:block;
}
.osd {
		width: 300;
		height: 400;
}
html, body {
		background-color: black!important;
		color: white!important;
}

tei-anchor, tei-a {
		font-weight: bold;
		font-size: 105%;
		color: #E76F99;
		cursor: pointer;
}
tei-term {
		font-style: italic;
		text-decoration: underline wavy;
		cursor: pointer;
}
tei-term:hover, tei-persName[ref]:hover {
		color: #EC8EAF;
}
tei-anchor:hover, tei-a:hover{
		text-decoration: underline;
		color: #EC8EAF;
}
tei-persName[ref] {
		text-decoration: underline wavy;
		cursor: pointer;
}
.TEIContainer.commentary{
		position: absolute;
		bottom: 0px;
		left: 0px;
		padding-bottom: 10px;
		margin-bottom: 15px;
		padding-right:calc(100%-800px);
		font-size: calc(7px + 0.5vw);
}
.wrapper div.imageContainer {
		overflow-y: scroll;
		overflow-x: hidden;
		position: absolute;
		top: 80px;
}
.wrapper div.imageContainer img{
		margin: 0px;
		height: auto;
		width: auto;
		position: relative;
}

#defTarget{
		position: fixed;
		bottom: 15px;
		right: 15px;
		width: 150px;
		text-style: italic;
		font-size: 110%;
		padding: 50px;
		border-radius: 8px;
		border: 4px solid rgba(255,223,223,0.2);
		background-color: rgba(0, 0, 0, 0.8);
		z-index: 10;
}

.score {
	margin-top:20px;
	display:block;
	margin-bottom:5em;
	background-color:white;
}

.LeafletWrapper { 
	margin-bottom:5em;
}


/*MELD-TEST SPECIFIC*/
/* The remaining CSS are nasty hacks to label the different test elements */

.LeafletWrapper::before{
	content: "TEST 1: IIIF";
	color:white;
	font-weight: bold;
	font-style:italic;
	padding:5px;
	font-size: 2em;
}

.scorepane::before{
	content: "TEST 2: Score SVG (MEI rendering)";
	color:white;
	font-weight: bold;
	font-style:italic;
	padding:5px;
	font-size: 2em;
}


.media::before{
	content: "TEST 3: Video player";
	color:white;
	font-weight: bold;
	font-style:italic;
	padding:5px;
	font-size: 2em;
}

.media::after{
	content: "\a\aTEST 4: Two audio players";
	white-space:pre;
	color:white;
	font-weight: bold;
	font-style:italic;
	padding:5px;
	font-size: 2em;
}

.TEIContainer::before{
	content: "\a\aTEST 5: HTML Text (TEI rendering)";
	white-space:pre;
	color:white;
	font-weight: bold;
	font-style:italic;
	padding:5px;
	font-size: 2em;
}

.TEIContainer::after{
	content: "\a\aTEST 6: Score images (Non-IIIF; one PNG, three JPGs)";
	white-space:pre;
	color:white;
	font-weight: bold;
	font-style:italic;
	padding:5px;
	font-size: 2em;
}
